body {
    background: cornsilk;
    font-family: sans-serif;
    width: 800px;
}

h1 {
    color: darkslategray;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    background-color: lightgray;
    font-size: 26px;
}

.homelist {
    display: flex;
    font-size: 16px;
    background-color:cornsilk;
    padding: 1em;
    gap: 15px;
    list-style-type:  none;
    color: teal;
    
}